﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
div.row
{
    clear:left;
    margin:6px;   
}
label
{
    float:left;
    width:200px;
}
textarea
{
    width:200px;
    height:100px;   
}
div.buttons
{
    margin-left:150px;
    margin-top:16px;   
}